* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

li {
  padding: 0
}
/* NavBar style*/
.header {
  height: 150px;
  background-image: url('../images/chance-anderson-210764.jpg');
  background-size: cover;
  background-position: center;


}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


/* NavBar style ends*/
