* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

/* NavBar style*/
.header {
  height: 100px;
}

.link-categories-view {
  color: #26a69a;
}
/* NavBar style ends*/

/*Sign up style*/

.sign-up-content {
  padding: 20px;
  background-image: url('../images/parker-byrd-139348.jpg');
  background-size: cover;
}

.sign-up-form {
  opacity: .90;
}

.link-join-us {
  color: white;
}
/*Sign up style*/

/*Log in style*/

.login-content {
  padding: 20px;
}

.link-log-in {
  color: white;
}
/*Log in style*/

/*User View style*/

.user-view-content {
  padding: 20px;
}

.show-projects {
  padding: 30px;
}

.title {
  font-size: 50px;
}

.link-user-view {
  color: white;
}


/*User View Style*/

/*Project View Style*/

.project-view-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
/*Project Style View*/

/*Reading View Content*/
.reading-view-content {
  padding: 20px;
}
/*Reading View Content*/

/*Categories View Content*/
.categories-view-content {
  padding: 20px;
}
/*Categories View Content*/
