* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}

/*Content App*/
.content-app {
background-color: black;
height: 100vh;
}
/*Content App*/

/*Landing View*/

.landing-content {
  height: 100vh;
  background-image: url('../images/sindre-aalberg-107983.jpg');
  background-position: bottom;
  background-attachment:fixed;
  color: white;
  padding: 20px;
  display: inline-flex;
  align-items: stretch;
}

.rigth-info {
  width: 50%;
  margin: 10px;
  padding: 30px 0px;
  border-right-color: #1B5E20;
  color: #C5E1A5;
}

.left-info {
  opacity: .70;
  background-color: #8BC34A;
  width: 50%;
  margin: 10px;
  padding: 30px;
}

.first-login {
  height: 90%;
}

.login-landing {
  height: 50%;
}

.login-boton {
  margin-top: 10px;
}

.signup-boton {
  margin-top: 10px;
}
/*Landing View*/


/* NavBar style*/

.header {
  height: 100px;
}

.link-categories-view {
  color: #26a69a;
}

.dropdown {
  background-color: black;
  color: red;
}
/* NavBar style ends*/

/*Sign up style*/

.sign-up-content {
  height: 100vh;
  padding: 20px;
  background-image: url('../images/sindre-aalberg-107983.jpg');
  background-position: top;
}

.sign-up-form {
  color: white;
}

.link-join-us {
  color: white;
}

/*Sign up style*/

/*Log in style*/

.login-content {
  padding: 20px;
  color: white;
  background-image: url('../images/alfons-morales-410757.jpg');
  background-image: linear-gradient(bottom, black, transparent);
  background-position: left;
}

.login-view {
  height: 100vh;
  background-position: left;
}

.link-log-in {
  color: #DCEDC8;
}
/*Log in style*/

/*User View style*/
.user-view-content {
  height: 100vh;
  color: #C5E1A5;
  padding: 20px;
  background-image: url('../images/brandi-redd-122054.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.show-projects {
  padding: 30px;
}

.title {
  font-size: 50px;
}

.link-user-view {
  color: white;
}


/*User View Style*/

/*Project View Style*/

.project-view-content {
  height: 100vh;
  padding: 20px;
  display: flex;
  color: #C5E1A5;
  background-color: black;
  justify-content: space-between;
}

.text-area {
    width: 570px;
    height: 523px;
}

.text-style {
  font-size: 20px;
}

.right-project-view {
  background-color: cyan;
  width: 100%;
}

.files-project-view {
  font-weight: bold;
  font-size: 20px;
  color: white;
  size: 100px;
}

/*Project Style View*/

/*Reading View Content*/
.reading-view-content {
  height: 100vh;
  padding: 20px;
  background-color: black;
}

.title-document {
  color: #C5E1A5;
}

.document-area {
  height: 80%;
  background-color: #E0E0E0;
  padding: 30px;
}

.read-links {
  color: #C0CA33;
}

.reading-boton {
  padding: 20px;
  background-color: black;
  width: 100%;
  margin: 0;
}

/*Reading View Content*/

/*Categories View Content*/
.categories-view-content {
  height: 100vh;
  padding: 20px;
  color: #C5E1A5;
  background-color: #081A21;
  /*background-image: url('../images/patrik-gothe-444.jpg');
  background-size:top;
  background-attachment:fixed;*/
}
.categories-back {
  height: 90%;
}

.collection {
  opacity: .90;
}
/*Categories View Content*/

/*About Content*/
.about-content {
  height: 100vh;
  padding: 20px;
  color: #C5E1A5;
  background-image: url('../images/sindre-aalberg-107983.jpg');
  background-attachment:fixed;
  opacity: .92;
}

.about-text {

}

.paragraph {
  font-size: 30px;
  height: 50%;
}
/*About Content*/
