<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Bookcase</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    <div id="app-container"></div>
    <script type="text/babel" src="https://cdnjs.cloudflare.com/ajax/libs/react-router-bootstrap/0.23.1/ReactRouterBootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>

  </body>
</html>
