<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up | Bookcase</title>
  </head>
  <body>
    <form>
      <label>Join us</label></br>
      <label>Username: <input type="text"></label></br>
      <label>First name: <input type="text"></label></br>
      <label>Last name: <input type="text"></label></br>
      <label>E-mail: <input type="email"></label></br>
      <label>Password: <input type="password"></label></br>
      <label>Age: <input type="number"></label></br>
      <label>Institute: <input type="text"></label></br>
      <label>Occupation: <input type="text"></label>
    </form>
  </body>
</html>
